-r submodule/esp-mosaico-utils/ESP-Iris/components/esp_iris/tools/requirements.lock
-r submodule/esp-mosaico-utils/esp-mosaico-recovery/tests/requirements-ui.txt
pytest>=8,<8.4 ; python_version < "3.9"
pytest>=8,<9 ; python_version >= "3.9"
